html {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif; font-weight:500; font-style:normal;
  color: #6D737C;
  display: flex;
  flex-direction: column;
  height: 100%
}

@media (min-width: 768px) {
  html {
    font-size: 1em;
  }

}

h1, h2, h3, h4, h5 {
  color: #212529
}

hr {
  margin-bottom: .2rem;
}

.card {
	width: 18rem;
	border: none;
}

.card-body {
  padding: 16px;
}

.c-1 {
	background-color: #454547;
}

.grad {
	background-image: linear-gradient(180deg, rgba(23, 16, 56, 0.0001) 0%, #454547 58.82%);
}

.container {
  max-width: 600px;
}

.navbar-wrapper {
  max-width: 540px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  align-items: left;
}

.navbar {
  padding-top: 1rem;
  background-color: #fff;
}

.enter-text {
  font-size: 1.7em;
  font-weight: 800;
  line-height: 1.2;
  font-style: normal;
}

.reenter-text {
  font-weight: 600;
}

.btn {
	border-radius: 0;
	background-color: #116AFF;
	border-color: #116AFF;
	min-width: 170px;
}

.connect-btn {
  min-width: 100px;
  text-transform: uppercase;
}

.switch-btn {
  float: right;
}

.switch-line {
  display: inline;
}

.new-bt {
	background-color: #ffffff;
	color: #116AFF;
}

.shaded {
	box-shadow: 0 4px 12px rgba(66, 135, 245, 0.5)
}

.banner-btn:not(:disabled):not(.disabled):active {
  background-color: white;
  color: #212529;
  outline: none;
  box-shadow: none;
}

.shaded:hover,
.shaded:active,
.shaded:focus {
	background-color: #116AFF;
	border-color: #116AFF;
	box-shadow: none; 
}

.new-bt:hover,
.new-bt:active,
.new-bt:focus,
.new-bt:not(:disabled):not(.disabled):active {
	border-color: #2d84f7;
	color: #2d84f7;
	background-color: #ffffff;
}

a:hover {
  text-decoration: none;
}

.banner-btn {
  display: inline-flex;
  flex: 0 0 21.5em;
  align-items: center;
  background-color: #ffffff;
  color: #212529;
  border-radius: 20px;
  line-height: .6rem;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

.banner-btn svg {
    margin: 0 0 0 8px;
    width: 8px;
    height: 8px;
}

.banner-btn:before {
    display: block;
    content: "";
    margin-right: 10px;
    width: 8px;
    height: 8px;
    background: #116AFF;
    border-radius: 100%;
}

.banner-btn:hover {
  border-color: #116AFF;
  color: #212529;
  background-color: #ffffff;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer a {
  color: #6D737C;
}

.cent-first {
  text-align: center;
}

.right-first {
  text-align: right;
}



@media (max-width: 47.9375rem) {
  .cent-first, .right-first {
    text-align: left;
  }
  .switch-btn {
    float: none;
  }
  .switch-line {
    display: block;
  }  
